
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ecommerce</title>

    <!--bootstrap cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--social media button cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--social media cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

    <!--custom css dependency-->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

    <body>

        <% include ./partials/navbar%>

        <%- body -%>

        <br/> <br/> <br/> <br/> <br/> <br/>

        <% include ./partials/footer%>

        <% include ./partials/javascriptOnly%>

    </body>

</html>


