<% layout('layout') -%>

<div class="jumbotron" id="navbar-gap">
    <div class="container">
        <h1>Shop Smart, Save Big!</h1>
        <p>Starting point to create something more unique</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Start your search here</h3>
            <p>SignUp to start Buying</p>
        </div>
        <div class="col-md-4">
            <h3>Look for smart items</h3>
            <p>Our prices are some of the best on the web</p>
        </div>
        <div class="col-md-4">
            <h3>Build a smart cart</h3>
            <p>There will appear across the site as you add to your cart</p>
        </div>
    </div>
</div>